name: "preview@prod"

on:
  workflow_dispatch:
permissions:
  contents: read # Minimal permissions for checkout
  
jobs:
  CheckUser:
    runs-on: ubuntu-latest
    steps:
      - name: Check if user is allowed to run this workflow
        run: |
          echo "Triggered by: ${{ github.actor }}"
          if [ "${{ github.actor }}" != "josef0xb" ]; then
            echo "âŒ You are not allowed to run this workflow."
            exit 1
          fi

  DeployToServer:
    needs: CheckUser
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.event_name }}
      cancel-in-progress: true
    steps:
      - name: Set up WireGuard
        env:
          WG_CONFIG: ${{secrets.WG_CONFIG}}

        run: |
          set -e
          sudo apt update
          sudo apt install -y wireguard
          echo "$WG_CONFIG" | sudo tee /etc/wireguard/wg0.conf
          sudo wg-quick up wg0

      - uses: actions/checkout@v5
      
      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add server to known_hosts
        run: |
          set -e
          mkdir -p ~/.ssh
          ssh-keyscan -H -t ecdsa,ed25519,rsa 10.0.0.1 >> ~/.ssh/known_hosts
        # Alternatively, store known_hosts as a secret and use it

      - name: Set Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 21.7.3
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'

      - name: Install dependencies and build
        env:
          VITE_APP_VERSION: ${{ github.run_number }}
          VITE_APP_CONFIG: preview-prod
        run: |
          set -e
          yarn install
          yarn build
      - name: Copy files & deploy
        env:
          SERVER: 10.0.0.1
        run: |
          set -e
          rsync -azv -e "ssh -o UserKnownHostsFile=~/.ssh/known_hosts -o HostKeyAlgorithms=ecdsa-sha2-nistp256,ssh-ed25519,rsa-sha2-512" \
            --omit-dir-times --no-perms --no-owner --no-group --delete \
            ./dist/ job@$SERVER:/var/www/cexplorer_preview/
